
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card style="width: 100%">
        
          <div class="container">
            <pre></pre>
            <div class="row">
              <div class="logocon">
                <ion-img
                  src="assets/imgs/WODBOX ICON@2x.png"
                  id="logo"
                ></ion-img>
              </div>
            </div>
            <div class="row">
              <h1 style="text-align: center; color: #b27600; font-size: xxx-large;">WODBOX</h1>
            </div>
            <pre></pre>
            <div>
              <ion-input
                type="email"
                name="email"
                style="font-size: x-large; text-align: center"
                placeholder="Username"
                [(ngModel)]="email" type="email"
                required
              ></ion-input>
            </div>
            <pre></pre>
            <div>
              <ion-input
                type="password"
                name="password"
                style="font-size: x-large; text-align: center; color: #b27600;"
                placeholder="Password"
                [(ngModel)]="password" type="password"
                required
              ></ion-input>
            </div>
            <pre></pre>
            <div style="text-align: center">
              <button
                style="
                  font-size: xxx-large;
                  margin-left: auto;
                  margin-right: auto;
                  border-radius: 10px;
                  background-color:#b27600;
                  width: 90%;
                  height: 70px;
                "
                expand="full" (click)="login()"
                >Login</button
              >
            </div>
            <br />
            <div style="text-align: center; font-size: large;">
              Dont have an accont?
              <a href="/signup" style="padding-left: 2%; color: #b27600;">Create account</a>
            </div>
            <br>
            <!--<div style="text-align: center; font-size: large;">
              Forgot your password?<a href="" style="padding-left: 2%; color: #b27600;">YES</a>
            </div>-->
          </div>
        
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
