.logocon{
    background-color:aliceblue;
    border-style: solid;
    width: 80%;
    height:auto;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    border-color: #b27600;;
    border-style: solid;
    border-width: 4px;
}
#logo{
    width:80%;
    height: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7%;
    margin-bottom: 7%;
}