<ion-content [fullscreen]="true">
  <div class="daBack">
    <ion-toolbar>
      <ion-menu-button
        style="background-color: #b27600; border-radius: 10%; color: aliceblue"
        slot="start"
      >
      </ion-menu-button>

      <a href="/wodcat" slot="end" style="text-decoration: none">
        <ion-back-button
          default-href="/wodbox/src/app/redwod"
          style="color: #b27600; padding-right: 10%"
          disabled="true"
        ></ion-back-button>
      </a>
    </ion-toolbar>
    <div class="logocon">
      <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
    </div>
    <pre></pre>
    <div>
      <h2 class="wodhead">WOD Description</h2>
    </div>
    <pre></pre>
    <ion-card class="wodbod" *ngFor="let workout of workouts" style="background-color: #b27600;" >
      <h2
        class="cardttl"
        style="
          color: black;
          font-size: xx-large;
          font-weight: 700;
          vertical-align: middle;
        "
      >
        {{workout.styleName}}
      </h2>
      <ion-card class="card">
     
        <ion-card-subtitle
          style="
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            font-size: large;
            padding: 10%;
            color: aliceblue;
          "
        >
          {{workout.styleDescription}}
        </ion-card-subtitle>
   
        <ion-card class="cardin">
          <ion-label class="cardintxt"
            >{{workout.rounds}}
            Round(s)</ion-label
          >
        </ion-card>
        <pre></pre>
        <h2 class="cardttl"><u>WOD Movements:</u></h2>
        <ion-grid>
          <ion-row class="ion-justify-content-center">
            <ion-card style="width: 100%; border-radius: 80px">
              <ion-card-header>
                <ion-row class="ion-justify-content-center">
                  <ion-card-title
                    style="
                      font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
                        sans-serif;
                      font-size: large;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    Round 1
                  </ion-card-title>
                </ion-row>
              </ion-card-header>

              <ion-card-content>
                <ion-row class="ion-justify-content-center">
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r1sets}} sets</ion-card-subtitle
                  >
                  </ion-col>
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r1move}}sec Move</ion-card-subtitle
                  >
                  </ion-col>
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r1rest}}sec Rest</ion-card-subtitle
                  >
                  </ion-col>
                </ion-row>
                <br>
                <ion-row style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 1</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exe" style="color: aliceblue" class="ion-justify-content-center">
                  <ion-label style="font-size: large">{{ workout.exe.exeName }}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exe" class="video-container">
                  <video
                    controls
                    *ngIf="workout.exe.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px; width: 100%; height: auto"
                  >
                    <source [src]="workout.exe.videoUrl" type="video/mp4" />
                    Your browser does not support the video tag.
                  </video>
                </ion-row>
                
                <br>
                <ion-row *ngIf="workout.exeR1M2" style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 2</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR1M2"
                  style="color: aliceblue"
                  class="ion-justify-content-center"
                >
                  <ion-label style="font-size: large">{{ workout.exeR1M2.exeName}}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exeR1M2" class="video-container" >
                  <video
                    controls *ngIf="workout.exeR1M2.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px"
                   
                  >
                    <source [src]="workout.exeR1M2.videoUrl" type="video/mp4" />
                    <!-- Add more <source> elements for different video formats if needed -->
                    Your browser does not support the video tag.
                  </video>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR1M3" style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 3</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR1M3"
                  style="color: aliceblue"
                  class="ion-justify-content-center"
                >
                  <ion-label style="font-size: large">{{ workout.exeR1M3.exeName}}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exeR1M3" class="video-container" >
                  <video
                    controls *ngIf="workout.exeR1M3.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px"
                   
                  >
                    <source [src]="workout.exeR1M3.videoUrl" type="video/mp4" />
                    <!-- Add more <source> elements for different video formats if needed -->
                    Your browser does not support the video tag.
                  </video>
                </ion-row>
                <pre></pre>
                
              </ion-card-content>
            </ion-card>
            <br>
            <ion-card style="width: 100%; border-radius: 80px" *ngIf="workout.exeR2M1">
              <ion-card-header>
                <ion-row class="ion-justify-content-center">
                  <ion-card-title
                    style="
                      font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
                        sans-serif;
                      font-size: large;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    Round 2
                  </ion-card-title>
                </ion-row>
              </ion-card-header>

              <ion-card-content>
                <ion-row class="ion-justify-content-center">
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r2sets}} sets</ion-card-subtitle
                  >
                  </ion-col>
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r2move}}sec Move</ion-card-subtitle
                  >
                  </ion-col>
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r2rest}}sec Rest</ion-card-subtitle
                  >
                  </ion-col>
                </ion-row>
                <br>
                <ion-row style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 1</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR2M1"
                  style="color: aliceblue"
                  class="ion-justify-content-center"
                >
                  <ion-label style="font-size: large">{{ workout.exeR2M1.exeName}}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exeR2M1" class="video-container" >
                  <video
                    controls *ngIf="workout.exeR2M1.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px"
                   
                  >
                    <source [src]="workout.exeR2M1.videoUrl" type="video/mp4" />
                    <!-- Add more <source> elements for different video formats if needed -->
                    Your browser does not support the video tag.
                  </video>
                </ion-row >
                <br>
                <ion-row *ngIf="workout.exeR2M2" style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 2</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR2M2"
                  style="color: aliceblue"
                  class="ion-justify-content-center"
                >
                  <ion-label style="font-size: large">{{ workout.exeR2M2.exeName}}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exeR2M2" class="video-container" >
                  <video
                    controls *ngIf="workout.exeR2M2.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px"
                   
                  >
                    <source [src]="workout.exeR2M2.videoUrl" type="video/mp4" />
                    <!-- Add more <source> elements for different video formats if needed -->
                    Your browser does not support the video tag.
                  </video>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR2M3" style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 3</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR2M3"
                  style="color: aliceblue"
                  class="ion-justify-content-center"
                >
                  <ion-label style="font-size: large">{{ workout.exeR2M3.exeName}}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exeR2M3" class="video-container" >
                  <video
                    controls *ngIf="workout.exeR2M3.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px"
                   
                  >
                    <source [src]="workout.exeR2M3.videoUrl" type="video/mp4" />
                    <!-- Add more <source> elements for different video formats if needed -->
                    Your browser does not support the video tag.
                  </video>
                </ion-row>
                <pre></pre>
              </ion-card-content>
            </ion-card>
            <br>
            <ion-card style="width: 100%; border-radius: 80px" *ngIf="workout.exeR3M1">
              <ion-card-header>
                <ion-row class="ion-justify-content-center">
                  <ion-card-title
                    style="
                      font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
                        sans-serif;
                      font-size: large;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    Round 3
                  </ion-card-title>
                </ion-row>
              </ion-card-header>

              <ion-card-content>
                <ion-row class="ion-justify-content-center">
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r3sets}} sets</ion-card-subtitle
                  >
                  </ion-col>
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r3move}}sec Move</ion-card-subtitle
                  >
                  </ion-col>
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r3rest}}sec Rest</ion-card-subtitle
                  >
                  </ion-col>
                </ion-row>
                <br>
                <ion-row style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 1</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR3M1"
                  style="color: aliceblue"
                  class="ion-justify-content-center"
                >
                  <ion-label style="font-size: large">{{ workout.exeR3M1.exeName}}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exeR3M1" class="video-container" >
                  <video
                    controls *ngIf="workout.exeR3M1.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px"
                   
                  >
                    <source [src]="workout.exeR3M1.videoUrl" type="video/mp4" />
                    <!-- Add more <source> elements for different video formats if needed -->
                    Your browser does not support the video tag.
                  </video>
                </ion-row >
                <br>
                <ion-row *ngIf="workout.exeR3M2" style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 2</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR3M2"
                  style="color: aliceblue"
                  class="ion-justify-content-center"
                >
                  <ion-label style="font-size: large">{{ workout.exeR3M2.exeName}}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exeR3M2" class="video-container" >
                  <video
                    controls *ngIf="workout.exeR3M2.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px"
                   
                  >
                    <source [src]="workout.exeR3M2.videoUrl" type="video/mp4" />
                    <!-- Add more <source> elements for different video formats if needed -->
                    Your browser does not support the video tag.
                  </video>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR3M3" style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 3</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR3M3"
                  style="color: aliceblue"
                  class="ion-justify-content-center"
                >
                  <ion-label style="font-size: large">{{ workout.exeR3M3.exeName}}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exeR3M3" class="video-container" >
                  <video
                    controls *ngIf="workout.exeR3M3.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px"
                   
                  >
                    <source [src]="workout.exeR3M3.videoUrl" type="video/mp4" />
                    <!-- Add more <source> elements for different video formats if needed -->
                    Your browser does not support the video tag.
                  </video>
                </ion-row>
                <pre></pre>
              </ion-card-content>
            </ion-card>
            <br>
            <ion-card style="width: 100%; border-radius: 80px" *ngIf="workout.exeR4M1">
              <ion-card-header>
                <ion-row class="ion-justify-content-center">
                  <ion-card-title
                    style="
                      font-family: 'Segoe UI', Tahoma, Geneva, Verdana,
                        sans-serif;
                      font-size: large;
                      color: aliceblue;
                      text-align: center;
                    "
                  >
                    Round 4
                  </ion-card-title>
                </ion-row>
              </ion-card-header>

              <ion-card-content>
                <ion-row class="ion-justify-content-center">
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r4sets}} sets</ion-card-subtitle
                  >
                  </ion-col>
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r4move}}sec Move</ion-card-subtitle
                  >
                  </ion-col>
                  <ion-col class="ion-justify-content-center">
                    <ion-card-subtitle style="font-size: medium; text-align: center;"
                    >{{workout.r4rest}}sec Rest</ion-card-subtitle
                  >
                  </ion-col>
                </ion-row>
                <br>
                <ion-row style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 1</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR4M1"
                  style="color: aliceblue"
                  class="ion-justify-content-center"
                >
                  <ion-label style="font-size: large">{{ workout.exeR4M1.exeName}}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exeR4M1" class="video-container" >
                  <video
                    controls *ngIf="workout.exeR4M1.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px"
                   
                  >
                    <source [src]="workout.exeR4M1.videoUrl" type="video/mp4" />
                    <!-- Add more <source> elements for different video formats if needed -->
                    Your browser does not support the video tag.
                  </video>
                </ion-row >
                <br>
                <ion-row *ngIf="workout.exeR4M2" style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 2</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR4M2"
                  style="color: aliceblue"
                  class="ion-justify-content-center"
                >
                  <ion-label style="font-size: large">{{ workout.exeR4M2.exeName}}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exeR4M2" class="video-container" >
                  <video
                    controls *ngIf="workout.exeR4M2.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px"
                   
                  >
                    <source [src]="workout.exeR4M2.videoUrl" type="video/mp4" />
                    <!-- Add more <source> elements for different video formats if needed -->
                    Your browser does not support the video tag.
                  </video>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR4M3" style="padding-left: 0%; color: aliceblue">
                  <ion-label style="font-size: large">Exercise 3</ion-label>
                </ion-row>
                <br />
                <ion-row *ngIf="workout.exeR4M3"
                  style="color: aliceblue"
                  class="ion-justify-content-center"
                >
                  <ion-label style="font-size: large">{{ workout.exeR4M3.exeName}}</ion-label>
                </ion-row>
                <br />
                <ion-row class="ion-justify-content-center" *ngIf="workout.exeR4M3" class="video-container" >
                  <video
                    controls *ngIf="workout.exeR4M3.videoUrl"
                    autoplay
                    loop
                    style="border-radius: 20px"
                   
                  >
                    <source [src]="workout.exeR4M3.videoUrl" type="video/mp4" />
                    <!-- Add more <source> elements for different video formats if needed -->
                    Your browser does not support the video tag.
                  </video>
                </ion-row>
                <pre></pre>
              </ion-card-content>
            </ion-card>
          </ion-row>
        </ion-grid>
      </ion-card>
    </ion-card>
   
    <div class="nextbtn">
      <a href="/wodgo" class="nextbtn">LET'S GO >>></a>
    </div>
  </div>
</ion-content>
