
.daBack{

    border-style: solid;
    border-color: #00b250;
    background: linear-gradient(
        to bottom,
        black 0%,
        black 50%,                                                                 
        black 50%,       
        #00b250 100%
    );
  
  
}
.logocon{
    background-color:aliceblue;
    border-style: solid;
    width: 20%;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 55%;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    border-color: #00b250;;
    border-style: solid;
    border-width: 4px;
}
#logo{
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.wodhead{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: larger;
}
.wodbod{
    background-color: #00b250;
    border-radius: 80px;
   
   
}
.cardimg{
    margin-left: auto;
    margin-right: auto;
}
.cardttl{
    font-size: 28px;
    text-align: center;
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
    margin-left: auto;
    margin-right: auto;
   border-radius: 80px;
border-color: rgb(0, 0, 0);
background-color: #000000;
width:99%;
border-style: solid;

}
.wodicon{
    margin-left: auto;
    margin-right: auto;
    width: 200px;
}
.cardin{
    width: 35%;
    border-style: solid;
    border-radius: 20px;
background-color: #000000;
    border-color: #00b250;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    border-width:1%;
}
.cardintxt{
    padding-top: 1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: 500;
    color: aliceblue;
}
.vidcon{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.nextbtn{
    text-align: right;
    text-decoration: solid;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 36px;
    font-style: italic;
    color: #0c0c0c;
    padding-right: 2%;

}
/* workout.page.scss */

/* Style for the container of each video */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (change as needed) */
    height: 0;
    overflow: hidden;
  }
  
  /* Style for the video element inside the container */
  .video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .daBackb{

    border-style: solid;
    border-color: #22B9E9;
    background: linear-gradient(
        to bottom,
        black 0%,
        black 50%,                                                                 
        black 50%,       
        #22B9E9 100%,
      
    );
  
}

.daBackd{

    border-style: solid;
    border-color: #b27600;
    background: linear-gradient(
        to bottom,
        black 0%,
        black 50%,                                                                 
        black 50%,       
        #b27600 100%
    );
  
  
}
#fade {
    transition: opacity 0.3s; /* Set the transition duration */
  }
  
  .bottom-modal {
    max-height: 40%; /* Adjust the height as needed */
    top: auto;
    bottom: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  