<ion-content [fullscreen]="true">
  <div class="daBack">
    <ion-toolbar>
      <ion-menu-button
        style="background-color: #b27600; border-radius: 10%; color: aliceblue"
        slot="start"
      >
      </ion-menu-button>
    </ion-toolbar>
    <div class="logocon">
      <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
    </div>
    <pre></pre>
    <div>
      <h1 class="wodhead" style="color: #b27600">
        Share WOD
      </h1>
    </div>
    <pre></pre>
    <pre></pre>
    <ion-card class="wodbod">
      <pre></pre>
      <ion-card class="card" style="color: aliceblue; text-decoration: none; text-align: center" >
<ion-row class="ion-justify-content-center">
  <div>
    <ion-row>
      <ion-col>Xavier Boyd</ion-col>
      <ion-col></ion-col>
    </ion-row>
  </div>
</ion-row>
<pre></pre>
<ion-row class="ion-justify-content-center">
  <div>
    <ion-row>
      <ion-col>May Cabrera</ion-col>
      <ion-col></ion-col>
    </ion-row>
  </div>
</ion-row>

<ion-row class="ion-justify-content-center">
  <div>
    <ion-row>
      <ion-col>Mario Giles</ion-col>
      <ion-col></ion-col>
    </ion-row>
  </div>
</ion-row>
<pre></pre>
<ion-button (click)="dismiss()">Close</ion-button>
          <pre></pre>
       
      </ion-card>
      <pre></pre>
    </ion-card>
    <pre></pre>
  </div>
</ion-content>


