
.daBack{

    border-style: solid;
    border-color: #b27600;
    background: linear-gradient(
        to bottom,
        black 0%,
        black 50%,                                                                 
        black 50%,       
        #b27600 100%
    );
  
}
.logocon{
    background-color:aliceblue;
    border-style: solid;
    width: 20%;
    height: 55%;
    border-radius: 20%;
    margin-left: auto;
    margin-right: auto;
    border-color: #b27600;;
    border-style: solid;
    padding-top: 5px;
    padding-bottom: 5px;
    border-width: 4px;
}
#logo{
    width: 80%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}
.wodhead{
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.wodbod{
    background-color: #b27600;
    border-radius: 80px;

}
.cardimg{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
   padding-bottom: 10%;
   padding-top: 10%;
}
.cardttl{
    font-size: 150%;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.card{
    margin-left: auto;
    margin-right: auto;
border-radius: 20%;
border: 5px;
border-color: rgb(255, 255, 255);
background-color: #b27600;
width: 80%;
height: 50%;
border-style: solid;

}
.wodicon{
    margin-left: auto;
    margin-right: auto;
    width: 57%;
}