<ion-content [fullscreen]="true">
  <div class="daBack">
    <ion-toolbar>
      <ion-menu-button
        style="background-color: #b27600; border-radius: 10%; color: aliceblue"
        slot="start"
      >
      </ion-menu-button
      >
      <button (click)="logout()"
      style="background-color: #b27600; border-radius: 5px; color: aliceblue; margin-left: 75%; width:70px;height: 25px;"
      >Logout <ion-icon name="person"></ion-icon></button>
    </ion-toolbar>
    <div class="logocon">
      <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
    </div>
    <pre></pre>
    <div>
      <h1 class="wodhead">
        Get <span style="color: #b27600">Your</span> Heart Rate
        <span style="color: #b27600">Racing</span>
      </h1>
    </div>
    <pre></pre>
    <pre></pre>
    <ion-card class="wodbod">
      <pre></pre>
      <ion-card class="card" style="color: aliceblue; text-decoration: none; text-align: center" (click)="toWarmup()">
          <div class="cardimg">
            <pre></pre>
            <ion-img src="assets/icon/warming.png" class="wodicon"></ion-img>
          </div>
          <h2 class="cardttl">Warm-Up</h2>
          <pre></pre>
       
      </ion-card>
      <pre></pre>
      <a href="/wodout" style="color: aliceblue; text-decoration: none">
        <div class="card">
          <div class="cardimg">
            <pre></pre>
            <ion-img
              src="assets/icon/CARDIO ICON@2x.png"
              class="wodicon"
            ></ion-img>
          </div>
          <h2 class="cardttl">WOD</h2>
          <pre></pre>
        </div>
        <pre></pre>
      </a>
    </ion-card>
    <pre></pre>
  </div>
</ion-content>
