<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        style="background-color: #b27600; border-radius: 10%; color: aliceblue"
      ></ion-menu-button>
    </ion-buttons>
    <a href="/view-wods" slot="end" style="text-decoration: none">
      <ion-back-button
        default-href="/wodbox/src/app/redwod"
        style="color: #b27600; padding-right: 10%"
        disabled="true"
      ></ion-back-button>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid style="height: 100%">
    <ion-row justify-content-center align-items-center style="height: 100%">
      <ion-card style="width: 100%">
        <form (ngSubmit)="signUp()" #userForm="ngForm">
          <div class="container">
            <pre></pre>
            <div class="row">
              <div class="logocon">
                <ion-img
                  src="assets/imgs/WODBOX ICON@2x.png"
                  id="logo"
                ></ion-img>
              </div>
            </div>
            <div class="row">
              <h1 style="text-align: center; color: #b27600;">Add User</h1>
            </div>
            <pre></pre>
            <div>
              <ion-input
                type="text"
                name="name"
                style="font-size: x-large; text-align: center"
                placeholder="Full Name"
                [(ngModel)]="name"
                required
              ></ion-input>
            </div>
            <pre></pre>
            <div>
              <ion-input
                type="email"
                name="email"
                style="font-size: x-large; text-align: center"
                placeholder="e-mail"
                [(ngModel)]="email"
                required
              ></ion-input>
            </div>
            <pre></pre>
            <div>
              <ion-input
                type="password"
                name="password"
                style="font-size: x-large; text-align: center; color: #b27600;"
                placeholder="Password"
                [(ngModel)]="password"
                required
              ></ion-input>
            </div>
            <pre></pre>
            
            <pre></pre>
            <div style="text-align: center">
              <ion-button
                style="
                  font-size: xxx-large;
                  margin-left: auto;
                  margin-right: auto;
                  border-radius: 10%;
                  background-color: aliceblue;
                "
                type="submit"
                [disabled]="!userForm.valid"
                >Add User</ion-button
              >
            </div>
           
          </div>
        </form>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
