<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button
        style="background-color: #b27600; border-radius: 10%; color: aliceblue"
      ></ion-menu-button>
    </ion-buttons>
    <a href="/view-wods" slot="end" style="text-decoration: none">
      <ion-back-button
        default-href="/wodbox/src/app/redwod"
        style="color: #b27600; padding-right: 10%"
        disabled="true"
      ></ion-back-button>
    </a>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid class="daback">
    <ion-row>
      <div class="logocon">
        <ion-img src="assets/imgs/WODBOX ICON@2x.png" id="logo"></ion-img>
      </div>
    </ion-row>
    <pre></pre>
    <ion-row>
      <ion-col></ion-col>
      <ion-col style="text-align: center; color: #b27600; font-size: x-large"
        >Add WOD</ion-col
      >
      <ion-col></ion-col>
    </ion-row>
    <pre></pre>
    <ion-row>
      <ion-card style="width: 100%">
        <form (ngSubmit)="createWod()" #wodform="ngForm">
          <div class="container">
            <ion-grid>
              <pre></pre>
              <ion-row>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >WOD Category</ion-label
                >
              </ion-row>

              <ion-row>
                <div style="margin-left: auto; margin-right: auto">
                  <ion-select
                   
                    placeholder="Select Category"
                    style="font-size: x-large; text-align: center; width: 100%"
                    [(ngModel)]="newWorkout.wodCat" type="text" name="wodCat"
                    
                  >
                    <ion-select-option
                      value="Warm Up"
                      style="text-align: center"
                      >Warm Up</ion-select-option
                    >
                    <ion-select-option value="WOD">WOD</ion-select-option>
                  </ion-select>
                </div>
              </ion-row>
              <pre></pre>
              <ion-row>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                >
                  WOD Style
                </ion-label>
              </ion-row>
              <ion-row>
                <div style="margin-left: auto; margin-right: auto">
                  <ion-select
                    
                    style="
                      font-size: x-large;
                      text-align: center;
                      color: #b27600;
                    "
                    placeholder="Style"
                    [(ngModel)]="newWorkout.styleId" type="text" name="styleId"
                    
                  >
                    <ion-select-option
                      *ngFor="let wodstyle of styles"
                      [value]="wodstyle.styleId"
                      >{{wodstyle.styleName}}</ion-select-option
                    >
                  </ion-select>
                </div>
              </ion-row>

              <ion-row>
                <ion-col>
                  <ion-label style="font-size: x-large; text-align: center"
                    >Rounds</ion-label
                  >
                  <div
                    style="
                      margin-left: auto;
                      margin-right: auto;
                      text-align: center;
                    "
                  >
                    <ion-select
                      type="number"
                      id="rounds"
                      name="rounds"
                      style="
                        font-size: x-large;
                        text-align: center;
                        margin-left: auto;
                        margin-right: auto;
                      "
                      placeholder="Select Rounds"
                      [(ngModel)]="newWorkout.rounds"
                      [(ngModel)]="selectedNumber"
                      
                    >
                      <ion-select-option value=1 class="wodopt"
                        >1</ion-select-option
                      >
                      <ion-select-option value=2 class="wodopt"
                        >2</ion-select-option
                      >
                      <ion-select-option value=3 class="wodopt"
                        >3</ion-select-option
                      >
                      <ion-select-option value=4 class="wodopt"
                        >4</ion-select-option
                      >
                    </ion-select>
                  </div>
                </ion-col>
                <ion-col>
                  <ion-label style="font-size: x-large; text-align: center"
                    >MPR</ion-label
                  ><ion-row>
                    <div style="margin-left: auto; margin-right: auto">
                      <ion-select
                        type="number"
                        name="mpr"
                        id="mpr"
                        style="
                          font-size: x-large;
                          text-align: center;
                          color: #b27600;
                        "
                        placeholder="Select MPR"
                        [(ngModel)]="newWorkout.mpr"
                        [(ngModel)]="mprs"
                        
                      >
                        <ion-select-option value=1>1</ion-select-option>
                        <ion-select-option value=2>2</ion-select-option>
                        <ion-select-option value=3>3</ion-select-option
                        ></ion-select
                      >
                    </div>
                  </ion-row>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="selectedNumber > 0">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 1</ion-label
                >
                <ion-row>
                  <div style="margin-left: auto; margin-right: auto">
                    <ion-select
                      placeholder="M1"
                      name="r1m1"
                      id="r1m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                    [(ngModel)]="newWorkout.r1m1"
                    >
                      <ion-select-option
                        *ngFor="let move of moves"
                        [value]="move.exeName"
                        >{{move.exeName}}</ion-select-option
                      >
                    </ion-select>
                  </div>
                </ion-row>
                <ion-row *ngIf="mprs > 1">
                  <ion-select
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                    "
                    placeholder="M2"
                    name="r1m2"
                    id="r1m2"
                    [(ngModel)]="newWorkout.r1m2"
                  >
                  <ion-select-option
                  *ngFor="let move of moves"
                  [value]="move.exeName"
                  >{{move.exeName}}</ion-select-option
                >
                  </ion-select>
                </ion-row>
                <ion-row *ngIf="mprs > 2">
                  <ion-select
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                    "
                    placeholder="M3"
                    name="r1m3"
                    id="r1m3"
                    [(ngModel)]="newWorkout.r1m3"
                  >
                  <ion-select-option
                  *ngFor="let move of moves"
                  [value]="move.exeName"
                  >{{move.exeName}}</ion-select-option
                ></ion-select
                  >
                </ion-row>
                <pre></pre>
                <ion-row>
                  <ion-col>
                    <ion-select
                    
                      type="number"
                      name="r1sets"
                      id="r1sets"
                      placeholder="Sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      [(ngModel)]="newWorkout.r1sets"
                    >
                      <ion-select-option value=1>1</ion-select-option>
                      <ion-select-option value=2>2</ion-select-option>
                      <ion-select-option value=3>3</ion-select-option>
                      <ion-select-option value=4>4</ion-select-option>
                      <ion-select-option value=5>5</ion-select-option>
                      <ion-select-option value=6>6</ion-select-option>
                      <ion-select-option value=7>7</ion-select-option>
                      <ion-select-option value=8>8</ion-select-option>
                    </ion-select>
                  </ion-col>

                  <ion-col>
                    <ion-label>Move</ion-label>
                    <ion-input
                      type="number"
                      name="r1move"
                      id="r1move"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                      style="width: 30%"
                      [(ngModel)]="newWorkout.r1move"
                    />
                  </ion-col>
                  <ion-col>
                    <ion-label>Rest</ion-label>
                    <ion-input
                      type="number"
                      name="r1rest"
                      id="r1rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                      style="width: 30%"
                      [(ngModel)]="newWorkout.r1rest"
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              <pre></pre>
              <!--Round 2-->
              <ion-row *ngIf="selectedNumber > 1">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 2</ion-label
                >
                <ion-row>
                  <div style="margin-left: auto; margin-right: auto">
                    <ion-select
                      placeholder="M1"
                      name="r2m1"
                      id="r2m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                      [(ngModel)]="newWorkout.r2m1"
                    >
                    <ion-select-option
                    *ngFor="let move of moves"
                    [value]="move.exeName"
                    >{{move.exeName}}</ion-select-option
                  >
                    </ion-select>
                  </div>
                </ion-row>
                <ion-row *ngIf="mprs > 1">
                  <ion-select
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                    "
                    placeholder="M2"
                    name="r2m2"
                    id="r2m2"
                    [(ngModel)]="newWorkout.r2m2"
                  >
                  <ion-select-option
                  *ngFor="let move of moves"
                  [value]="move.exeName"
                  >{{move.exeName}}</ion-select-option
                ></ion-select
                  >
                </ion-row>
                <ion-row *ngIf="mprs > 2">
                  <ion-select
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                    "
                    placeholder="M3"
                    name="r2m3"
                    id="r2m3"
                    [(ngModel)]="newWorkout.r2m3"
                  >
                  <ion-select-option
                  *ngFor="let move of moves"
                  [value]="move.exeName"
                  >{{move.exeName}}</ion-select-option
                ></ion-select
                  >
                </ion-row>
                <pre></pre>
                <ion-row>
                  <ion-col>
                    <ion-select
                      type="number"
                      name="r2sets"
                      id="r2sets"
                      placeholder="Sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                   [(ngModel)]="newWorkout.r2sets"
                    >
                    <ion-select-option value=1>1</ion-select-option>
                    <ion-select-option value=2>2</ion-select-option>
                    <ion-select-option value=3>3</ion-select-option>
                    <ion-select-option value=4>4</ion-select-option>
                    <ion-select-option value=5>5</ion-select-option>
                    <ion-select-option value=6>6</ion-select-option>
                    <ion-select-option value=7>7</ion-select-option>
                    <ion-select-option value=8>8</ion-select-option>
                    </ion-select>
                  </ion-col>

                  <ion-col>
                    <ion-label>Move</ion-label>
                    <ion-input
                    [(ngModel)]="newWorkout.r2move"
                      type="number"
                      name="r2move"
                      id="r2move"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                      style="width: 30%"
                    />
                  </ion-col>
                  <ion-col>
                    <ion-label>Rest</ion-label>
                    <ion-input
                    [(ngModel)]="newWorkout.r2rest"
                      type="number"
                      name="r2rest"
                      id="r2rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                      style="width: 30%"
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              <pre></pre>
              <!--Round 3-->
              <ion-row *ngIf="selectedNumber > 2">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 3</ion-label
                >
                <ion-row>
                  <div style="margin-left: auto; margin-right: auto">
                    <ion-select
                      placeholder="M1"
                      name="r3m1"
                      id="r3m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                    [(ngModel)]="newWorkout.r3m1"
                    >
                    <ion-select-option
                    *ngFor="let move of moves"
                    [value]="move.exeName"
                    >{{move.exeName}}</ion-select-option
                  >
                    </ion-select>
                  </div>
                </ion-row>
                <ion-row *ngIf="mprs > 1">
                  <ion-select
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                    "
                    placeholder="M2"
                    name="r3m2"
                    id="r3m2"
                    [(ngModel)]="newWorkout.r3m2"
                  >
                  <ion-select-option
                  *ngFor="let move of moves"
                  [value]="move.exeName"
                  >{{move.exeName}}</ion-select-option
                ></ion-select
                  >
                </ion-row>
                <ion-row *ngIf="mprs > 2">
                  <ion-select
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                    "
                    placeholder="M3"
                    name="r3m3"
                    id="r3m3"
                    [(ngModel)]="newWorkout.r3m3"
                  >
                  <ion-select-option
                  *ngFor="let move of moves"
                  [value]="move.exeName"
                  >{{move.exeName}}</ion-select-option
                ></ion-select
                  >
                </ion-row>
                <pre></pre>
                <ion-row>
                  <ion-col>
                    <ion-select
                      type="number"
                      name="r3sets"
                      id="r3sets"
                      placeholder="Sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                           [(ngModel)]="newWorkout.r3sets"
                    >
                    <ion-select-option value=1>1</ion-select-option>
                    <ion-select-option value=2>2</ion-select-option>
                    <ion-select-option value=3>3</ion-select-option>
                    <ion-select-option value=4>4</ion-select-option>
                    <ion-select-option value=5>5</ion-select-option>
                    <ion-select-option value=6>6</ion-select-option>
                    <ion-select-option value=7>7</ion-select-option>
                    <ion-select-option value=8>8</ion-select-option>
                    </ion-select>
                  </ion-col>

                  <ion-col>
                    <ion-label>Move</ion-label>
                    <ion-input
                    [(ngModel)]="newWorkout.r3move"
                      type="number"
                      name="r3move"
                      id="r3move"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                      style="width: 30%"
                    />
                  </ion-col>
                  <ion-col>
                    <ion-label>Rest</ion-label>
                    <ion-input
                    [(ngModel)]="newWorkout.r3rest"
                      type="number"
                      name="r3rest"
                      id="r3rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                      style="width: 30%"
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              <pre></pre>
              <!--round 4-->
              <ion-row *ngIf="selectedNumber > 3">
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Round 4</ion-label
                >
                <ion-row>
                  <div style="margin-left: auto; margin-right: auto">
                    <ion-select
                      placeholder="M1"
                      name="r4m1"
                      id="r4m1"
                      style="
                        font-size: x-large;
                        text-align: center;
                        width: 100%;
                        color: #b27600;
                      "
                         [(ngModel)]="newWorkout.r4m1"
                    >
                    <ion-select-option
                    *ngFor="let move of moves"
                    [value]="move.exeName"
                    >{{move.exeName}}</ion-select-option
                  >
                    </ion-select>
                  </div>
                </ion-row>
                <ion-row *ngIf="mprs > 1">
                  <ion-select
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                    "
                    placeholder="M2"
                    name="r4m2"
                    id="r4m2"
                    [(ngModel)]="newWorkout.r4m2"
                  >
                  <ion-select-option
                  *ngFor="let move of moves"
                  [value]="move.exeName"
                  >{{move.exeName}}</ion-select-option
                ></ion-select
                  >
                </ion-row>
                <ion-row *ngIf="mprs > 2">
                  <ion-select
                    style="
                      font-size: x-large;
                      text-align: center;
                      width: 100%;
                      color: #b27600;
                    "
                    placeholder="M3"
                    name="r4m3"
                    id="r4m3"
                    [(ngModel)]="newWorkout.r4m3"
                  >
                  <ion-select-option
                  *ngFor="let move of moves"
                  [value]="move.exeName"
                  >{{move.exeName}}</ion-select-option
                ></ion-select
                  >
                </ion-row>
                <pre></pre>
                <ion-row>
                  <ion-col>
                    <ion-select
                      type="number"
                      name="r4sets"
                      id="r4sets"
                      placeholder="Sets"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                               [(ngModel)]="newWorkout.r4sets"
                    >
                    <ion-select-option value=1>1</ion-select-option>
                    <ion-select-option value=2>2</ion-select-option>
                    <ion-select-option value=3>3</ion-select-option>
                    <ion-select-option value=4>4</ion-select-option>
                    <ion-select-option value=5>5</ion-select-option>
                    <ion-select-option value=6>6</ion-select-option>
                    <ion-select-option value=7>7</ion-select-option>
                    <ion-select-option value=8>8</ion-select-option>
                    </ion-select>
                  </ion-col>

                  <ion-col>
                    <ion-label>Move</ion-label>
                    <ion-input
                    [(ngModel)]="newWorkout.r4move"

                      type="number"
                      name="r4move"
                      id="r4move"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      min="1"
                      style="width: 30%"
                    />
                  </ion-col>
                  <ion-col>
                    <ion-label>Rest</ion-label>
                    <ion-input
                    [(ngModel)]="newWorkout.r4rest"
                      type="number"
                      name="r4rest"
                      id="r4rest"
                      style="
                        font-size: x-large;
                        text-align: center;
                        color: #b27600;
                      "
                      placeholder="rest sec"
                      min="1"
                      style="width: 30%"
                    />
                  </ion-col>
                </ion-row>
              </ion-row>
              <ion-row>
                <ion-label
                  style="font-size: x-large; text-align: center; width: 100%"
                  >Select a Date:</ion-label
                >
                <ion-input
                  style="font-size: x-large; text-align: center; color: #b27600"
                  type="datetime-local"
                  name="daDate"
                  id="daDate"
                  [(ngModel)]="newWorkout.daDate"
                ></ion-input>
              </ion-row>
              <pre></pre>
              <ion-row>
                <div style="text-align: center">
                  
                  
                  <pre></pre>
                </div>
              </ion-row>
            </ion-grid>
          </div>
          <ion-button
                    style="
                      font-size: xxx-large;
                      margin-left: auto;
                      margin-right: auto;
                      border-radius: 10%;
                      background-color: aliceblue;
                    "
                    
                    type="submit"
                    [disabled]="!wodform.valid"
                    >Add WOD</ion-button>
        </form>
      </ion-card>
    </ion-row>
  </ion-grid>
</ion-content>
